## REACT
# dependencies
react-files/node_modules
react-files/.pnp
react-files/pnp.js

# testing
react-files/coverage

# production
react-files/build

# misc
react-files/.DS_Store
react-files/.env.local
react-files/.env.development.local
react-files/.env.test.local
react-files/.env.production.local

react-files/npm-debug.log*
react-files/yarn-debug.log*
react-files/yarn-error.log*


## PYTHON
flask-api/venv
flask-api/.idea
.idea

flask-api/venv*/
flask-api/__pycache__/
flask-api/.cache*

#### Aaron: Stuff that came with the template thingo
flask-api/*.com
flask-api/*.class
flask-api/*.dll
flask-api/*.exe
flask-api/*.o
flask-api/*.so

flask-api/*.7z
flask-api/*.dmg
flask-api/*.gz
flask-api/*.iso
flask-api/*.jar
flask-api/*.rar
flask-api/*.tar
flask-api/*.zip

flask-api/*.log
flask-api/*.sql
flask-api/*.sqlite

flask-api/.DS_Store
flask-api/.DS_Store?
flask-api/._*
flask-api/.Spotlight-V100
flask-api/.Trashes
flask-api/ehthumbs.db
flask-api/Thumbs.db

#### ZJ: Test data for the JSON
flask-api/sample.json
flask-api/test.json
flask-api/test2.json
